@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --songCardPlayButton: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto';
}

.left-sec {
    width: 25vw;
    /* height: 100%; */
    padding: 5px;
    /* font-weight: 700; */
}

.logo{
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.home{
    background-color: #121212;
    border-radius: 12px;
    margin: 10px;
    padding: 25px;
    height: 12vh;
    font-weight: 700;
}

.home ul li{
    display: flex;
    gap: 15px;
    list-style-type: none;
    height: 20px;
    padding-top: 10px;
    margin: 5px 0;
}

.library{
    background-color: #121212;
    padding: 5px;
    margin: 15px;
    height: 76vh;
    border-radius: 12px;
}

.library-head{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.library-logo{
    height: 20px;
}

.library-head p{
    width: 100%;
    font-size: large;
    padding: 5px;
    margin: 10px;
    color: #b3b3b3;
}

/* .createPlaylists, .searchPodcasts{
    margin: 5px;
    padding: 15px;
    background-color: #1f1f1f;
    border-radius: 12px;
    line-height: 30px;
}

.createPlaylists {
    margin-bottom: 20px;
    position: relative;
}

.createPlaylists button, .searchPodcasts button{
    margin-top: 15px;
    padding: 7px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    background-color: white;
}

.createPlaylists :nth-child(2), .searchPodcasts :nth-child(2){
    font-size: small;
} */

.infobar{
    position: absolute;
    bottom: 35px;
    font-size: small;
    font-weight: 400;
    color: #b3b3b3;
}

.infobar span{
    margin: 3px;
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.infobar button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    background-color: #000000;
    margin: 15px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
}

.infobar img{
    height: 15px;
}

.right-sec{
    width: 75vw;
    background-color: #222222;
    margin: 15px;
    margin-left: 5px;
    border-radius: 15px;
    height: 96vh;
    position: relative;
}

.nav{
    background-color: #121212;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: fixed;
    width: 72.75vw;
    z-index: 1;
}

.signup, .login{
    font-size: medium;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
}

.signup{
    background-color: #121212;
    margin-right: 10px;
    color: #b3b3b3;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        color: white;
        font-size: 18px;
        transition: all 0.2s ease-in-out ;
    }
}

.login{
    background-color: white;
    &:hover{
        cursor: pointer;
    }
}

.previous, .next{
    margin: 5px;
}

.spotifyPlaylists h1{
    font-size: x-large;
    /* margin: 15px; */
    margin-left: 25px;
    margin-top: 10vh;
}

.cardContainer{
    padding-left: 15px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    max-height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

.card{
    margin: 4px;
    margin-left: 8px;
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 12px;
    background-color: #303030;
    &:hover {
        --songCardPlayButton: 1;
    }
}

.coverImg{
    width: 100%;
    object-fit: contain;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.card > *{
    padding-top: 10px;
}

.play{
    height: 45px;
    position: absolute;
    bottom: 100px;
    right: 25px;
    opacity: var(--songCardPlayButton);
    transition: all 0.5s;
    &:hover{
        cursor: pointer;
    }
}

.songPlayer {
    position: absolute;
    bottom: 0;
    width: 97.9%;
    height: 7vh;
    background-color: #5E8C61;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    gap: 15px; */
}

.songButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.songButtons img{
    height: 35px;
    cursor: pointer;
    width: 33.33%;
}

.songsList > ol li{
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 5px;
    margin-bottom: 10px;
    &:hover{
        background-color: #303030;
    }
    border: 1px solid darkgray;
    border-radius: 12px;
}

.songsList ol{
    height: 48vh;
    overflow: scroll;
    overflow-x: hidden;
}

.songsList ol li img{
    height: 35px;
    padding: 10px 0;
}

.playNow {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.songTemplate {
    display: flex;
    align-items: center;
    gap: 20px;
}

.songName {
    font-size: 18px;
    width: 165px;
}

.artist{
    font-size: 14px;
    color: darkgray;
}

.seekbar {
    width: 100%;
    height: 3px;
    border: 1px solid black;
    background-color: #fff;
    margin: 15px 0;
    border-radius: 25px;
    cursor: pointer;
}

.proceeder {
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
    transform: translate(-5px, -5px);
    transition: left 0.25s;
    position: relative;
}

.aboveBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.songInfo, .songTime {
    width: 33.33%;
    color: black;
    font-size: large;
}

.volume {
    display: flex;
    cursor: pointer;
    margin-right: 25px;
}

.songTime {
    text-align: right;
}

.popSide, .close {
    display: none;
}

.songTime {
    width: 100%;
}

.timeVolume {
    width: 33.33%;
    display: flex;
    gap: 20px;
}

.volume input {
    cursor: pointer;
}

.card h3, .card p{
    text-align: center;
}

@media (max-width: 1400px) {
    .left-sec{
        /* background-color: red; */
        position: absolute;
        left: -100%;
        transition: all 0.6s;
        z-index: 2;
        width: 97vw;
        background-color: #000000;
    }

    .right-sec {
        width: 100vw;
        margin: 0;
        padding: 0;
        height: 100vh;
        position: relative;
    }

    .nav {
        width: 95vw;
        justify-content: space-between;
    }

    .songPlayer {
        width: 95%;
        bottom: 0;
        height: 9vh;
        padding: 10px;
    }

    .popSide, .close {
        display: block;
    }

    .icons {
        display: flex;
    }

    .home {
        height: 15vh;
    }

    .songsList ol {
        height: 42vh;
    }

    .library {
        height: 72vh;
    }

    .infobar {
        bottom: 15px;
    }

    .songTemplate {
        width: 75%;
    }

    .playNow p{
        display: none;
    }

    .songsList > ol li{
        gap: 15px;
    }

    .songName {
        font-size: 18px;
    }

    .artist {
        font-size: 15px;
    }

    .songTemplate {
        gap: 10px;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .songInfo, .songTime {
        font-size: 15px;
        width: 100%;
        text-align: center;
        margin: 5px;
    }

    .songPlayer {
        height: 15vh;
        transition: all 2.5s;
        padding: 10px;
    }

    .cardContainer {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        height: 63vh;
    }

    .card {
        margin: 0;
        padding: 15px;
        margin-right: 25px;
    }

    .aboveBar {
        flex-direction: column;
        justify-content: space-between;
    }

    .timeVolume {
        width: 100%;
    }

    .seekbar {
        width: 90%;
        margin-left: 5%;
    }
}